@import "tailwindcss";

/* https: //www.colorhunt.co/palette/1c16788576ff7bc9ffa3ffd6 */
@theme {
  --color-primary: #1c1678;
  --color-secondary: #8576ff;
  --color-tertiary: #7bc9ff;
  --color-quaternary: #a3ffd6;
  --color-typography-primary: #ffffff;
  --font-primary: "Archivo", sans-serif;
  --font-secondary: "Aleo", serif;
}

body {
  @apply bg-primary text-typography-primary font-primary font-normal text-base flex flex-col gap-4 min-h-screen;
}

footer {
  @apply mt-auto;
}

.container {
  @apply max-w-300 mx-auto px-4;
}

.transition-default {
  @apply transition-all duration-300 ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-secondary font-bold;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}